@model DinnerInput
@using (Html.Awe().BeginContext())
{
    <div class="bro">
        @using (Html.BeginForm())
        {
            <div class="inputarea">
                @Html.EditorFor(o => o.Name)
                @Html.EditorFor(o => o.CountryId)
                @Html.EditorFor(o => o.ChefId)
                @Html.EditorFor(o => o.Address)
                @Html.EditorFor(o => o.Start)
                @Html.EditorFor(o => o.Time)
                @Html.EditorFor(o => o.Duration)
            </div>
            <div class="inputarea">
                @Html.EditorFor(o => o.Meals)
            </div>
        }
    </div>
}
